html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

main {
	margin: 0 auto;
	max-width: 640px;
}

.has-text-centered {
	text-align: center;
}

.is-blog-title {
	font-size: 4em;
	text-shadow: 2px 2px 1px #999999;
}

.is-post-title {
	font-size: 3em;
	margin-bottom: 0;
}

.is-post-date {
	text-align: right;
	margin-top: 0;
	color: grey;
}

.markup > p > img {
	max-width: 100%;
	margin: auto auto;
	display: block;
}

h1 > a {
	color: black;
	text-decoration: none;
}

.reactions {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

a.reactions {
	color: black;
	text-decoration: none;
}
