.blog-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.post-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
  margin-bottom: 4rem;
  border-bottom: solid 0.1rem black;
  text-align: right;
}

.reactions {
  padding-top: 6rem;
  text-decoration: none;
  text-align: center;
}

.footer {
  border: solid 0.1rem black;
  padding: 0 1rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
}
